#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media only screen and (max-width:800px) {
  #root {
    padding: 2rem 1rem;
  }
}

.animatedCont {
  animation: toastAnimation 3s;
}

@keyframes toastAnimation {
  0% {
    top: -10%;
  }
  30% {
    top: 0;
  }
  70% {
    top: 0;
  }
  100% {
    top: -10%;
  }
}